apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: price-server-hpa
  namespace: price-server
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: price-server
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
